html {
    background-image: radial-gradient(circle, #f3c340, #f1bf3d, #f0ba3a, #eeb638, #ecb235, #ebad31, #eaa92c, #e9a428, #e99e21, #e8991a, #e89312, #e78d08);
 }

#amountInput::-webkit-inner-spin-button, 
#amountInput::-webkit-outer-spin-button,
#amountInput2::-webkit-inner-spin-button,
#amountInput3::-webkit-inner-spin-button,
#amountInput4::-webkit-inner-spin-button
 {
    height: 40px; /* You can adjust the height as needed */
}

.random {

    border: 6px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;
    box-shadow: 0px 20px 30px black;

}

.fav {
    border: 6px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;
    box-shadow: 0px 20px 30px black;

}

.jokes-div {

    margin: 10% 0%;
}

    
    /* set up the facts layout ---------------------------------------------------------------------------------------------------------------------- */

    .fa-gears:active {
  
        text-shadow: 0px 5px 20px black;

    }



    #holder {

        margin-top: 10%;
        border: 8px solid rgb(46, 45, 45);
        border-radius: 29px 29px 29px 29px;
        box-shadow: 10px 20px 30px black;
    }

    .list:hover {
    
        border-right: 8px solid rgb(46, 45, 45);;
        border-left: 8px solid rgb(46, 45, 45);
        border-radius: 29px 29px 29px 29px;
    
    }

    .form-control {

    width: 100px ;
   }
   .control {

    margin-top: 4%;
   }

   #randomFact, #historicalFact, #randomJoke, #dadJoke {
    text-align: justify;
   }
    

   #randomFact li {

    margin-top: 2rem;
   }


   .title {

    text-shadow: -1px 3px 4px rgba(0,0,0,0.34);

   }

   @media screen and (max-width: 769px){

      .control {
        display: flex;
        flex-direction: column;
      }
    
   } 


   /* make mandatory changes to the jokes.HTML */

   #generateRandomJokes, #generateDadjokes {

    margin-top: 6%;

   }

   @media screen and (max-width: 769px){

    #generateRandomJokes, #generateDadjokes {

        margin-top: 10%;
    
       }
   }