html {
    background-image: radial-gradient(circle, #f3c340, #f1bf3d, #f0ba3a, #eeb638, #ecb235, #ebad31, #eaa92c, #e9a428, #e99e21, #e8991a, #e89312, #e78d08);
 }

#amountInput::-webkit-inner-spin-button, 
#amountInput::-webkit-outer-spin-button,
#amountInput2::-webkit-inner-spin-button,
#amountInput3::-webkit-inner-spin-button,
#amountInput4::-webkit-inner-spin-button
 {
    height: 40px; /* You can adjust the height as needed */
}


.random {

    border: 6px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;
    box-shadow: 0px 20px 30px black;

}

.fav {
    border: 6px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;
    box-shadow: 0px 20px 30px black;

}

.jokes-div {

    margin: 10% 0%;
}
    
    .fa-gears:active {
  
        text-shadow: 0px 5px 20px black;

    }

.jokes-holder {

    border: 8px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;
    box-shadow: 10px 20px 30px black;


   } 

  .list:hover, .list-right:hover {
    
    border-right: 8px solid rgb(46, 45, 45);;
    border-left: 8px solid rgb(46, 45, 45);
    border-radius: 29px 29px 29px 29px;

}

    #holder {

        margin-top: 10%;
        border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    border: 11px double #727272a5;
    box-shadow: 0px 20px 40px black;
    background-image: linear-gradient(to right, #d5d1d1, #dbd8d8, #e1dede, #e8e5e5, #eeecec, #eeecec, #eeecec, #eeecec, #e8e5e5, #e1dede, #dbd8d8, #d5d1d1);        

    }
   
    .form-control {

    width: 100px ;
   }
   .control {

    margin-top: 4%;
   }

   #randomFact, #historicalFact {
    text-align: justify;
   }
    
   #randomFact li, #historicalFact li, #randomJoke li, #dadJoke li {

    margin-top: 3rem;
    text-align:center;
    padding: 4%;
   }

   #randomFact li:hover, #historicalFact li:hover, #randomJoke li:hover, #dadJoke li:hover {

    margin-top: 3rem;
    text-align:center;
    font-size: larger;

   }


   .title {

    text-shadow: -3px 4px 7px rgba(0,0,0,0.34);

   }

#modal {
   background-color: whitesmoke;
    border-radius: 29px 29px 29px 29px;


}

.modal-title {

    border-top: solid black 1px;
    border-radius: 29px 29px 29px 29px;


}

.modal-footer {

    border-bottom: solid black 1px;
    border-radius: 29px 29px 29px 29px;


}